<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Posts</title>
</head>
<body>
    <h1 th:text="${boardName}"></h1>
    <li th:each="article : ${articles}">
        <td th:text="${article.id()}">게시글 id</td>
        <td th:text="${article.author_id()}">작성자 id</td>
        <td th:text="${article.title()}">게시글 제목</td>
        <td th:text="${article.content()}">게시글 내용</td>
        <td th:text = "|${article.created_date().getYear()}-${article.created_date().getMonthValue()}-${article.created_date().getDayOfMonth()}|">게시글 작성일</td>
    </li>
</body>
</html>